<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tingo.weaver.dao.KpCheckItemDetailZpDao" >
  <resultMap id="BaseResultMap" type="com.tingo.weaver.model.po.KpCheckItemDetailZp" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
    <result column="DETAIL_ID" property="detailId" jdbcType="DECIMAL" />
    <result column="ZP_ID" property="zpId" jdbcType="DECIMAL" />
    <result column="ORG_ID" property="orgId" jdbcType="DECIMAL" />
    <result column="PF" property="pf" jdbcType="DECIMAL" />
    <result column="ZP_TIME" property="zpTime" jdbcType="DATE" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ITEM_ID, DETAIL_ID, ZP_ID, ORG_ID, PF, ZP_TIME, CREATE_TIME, UPDATE_TIME, VERSION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from KP_CHECK_ITEM_DETAIL_ZP
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from KP_CHECK_ITEM_DETAIL_ZP
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.tingo.weaver.model.po.KpCheckItemDetailZp" >
    insert into KP_CHECK_ITEM_DETAIL_ZP (ID, ITEM_ID, DETAIL_ID, 
      ZP_ID, ORG_ID, PF, ZP_TIME, 
      CREATE_TIME, UPDATE_TIME, VERSION
      )
    values (#{id,jdbcType=DECIMAL}, #{itemId,jdbcType=DECIMAL}, #{detailId,jdbcType=DECIMAL}, 
      #{zpId,jdbcType=DECIMAL}, #{orgId,jdbcType=DECIMAL}, #{pf,jdbcType=DECIMAL}, #{zpTime,jdbcType=DATE}, 
      #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}, #{version,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tingo.weaver.model.po.KpCheckItemDetailZp" >
    <selectKey keyProperty="id" resultType="BigDecimal" order="BEFORE">
      select kp_check_item_detail_zp_id.NEXTVAL from dual
    </selectKey>
    insert into KP_CHECK_ITEM_DETAIL_ZP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="detailId != null" >
        DETAIL_ID,
      </if>
      <if test="zpId != null" >
        ZP_ID,
      </if>
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="pf != null" >
        PF,
      </if>
      <if test="zpTime != null" >
        ZP_TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="detailId != null" >
        #{detailId,jdbcType=DECIMAL},
      </if>
      <if test="zpId != null" >
        #{zpId,jdbcType=DECIMAL},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=DECIMAL},
      </if>
      <if test="pf != null" >
        #{pf,jdbcType=DECIMAL},
      </if>
      <if test="zpTime != null" >
        #{zpTime,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tingo.weaver.model.po.KpCheckItemDetailZp" >
    update KP_CHECK_ITEM_DETAIL_ZP
    <set >
      <if test="itemId != null" >
        ITEM_ID = #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="detailId != null" >
        DETAIL_ID = #{detailId,jdbcType=DECIMAL},
      </if>
      <if test="zpId != null" >
        ZP_ID = #{zpId,jdbcType=DECIMAL},
      </if>
      <if test="orgId != null" >
        ORG_ID = #{orgId,jdbcType=DECIMAL},
      </if>
      <if test="pf != null" >
        PF = #{pf,jdbcType=DECIMAL},
      </if>
      <if test="zpTime != null" >
        ZP_TIME = #{zpTime,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tingo.weaver.model.po.KpCheckItemDetailZp" >
    update KP_CHECK_ITEM_DETAIL_ZP
    set ITEM_ID = #{itemId,jdbcType=DECIMAL},
      DETAIL_ID = #{detailId,jdbcType=DECIMAL},
      ZP_ID = #{zpId,jdbcType=DECIMAL},
      ORG_ID = #{orgId,jdbcType=DECIMAL},
      PF = #{pf,jdbcType=DECIMAL},
      ZP_TIME = #{zpTime,jdbcType=DATE},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      VERSION = #{version,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <select id="selectByUnq" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from KP_CHECK_ITEM_DETAIL_ZP
    where DETAIL_ID = #{detailId,jdbcType=DECIMAL}
    and ORG_ID = #{orgId,jdbcType=DECIMAL}
  </select>

  <select id="selectByZpId" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select
    <include refid="Base_Column_List" />
    from KP_CHECK_ITEM_DETAIL_ZP
    where ZP_ID = #{zpId,jdbcType=DECIMAL}
  </select>

  <select id="selectByZpIds" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select
    <include refid="Base_Column_List" />
    from KP_CHECK_ITEM_DETAIL_ZP
    where ZP_ID in
      <foreach collection="zpIds" item="zpId" index="index" open="(" close=")" separator=",">
        #{zpId}
      </foreach>
  </select>
</mapper>