<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tingo.weaver.dao.KpCheckItemDao" >
  <resultMap id="BaseResultMap" type="com.tingo.weaver.model.po.KpCheckItem" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="QD_ID" property="qdId" jdbcType="DECIMAL" />
    <result column="QD" property="qd" jdbcType="VARCHAR" />
    <result column="KPNR" property="kpnr" jdbcType="VARCHAR" />
    <result column="KPFS" property="kpfs" jdbcType="DECIMAL" />
    <result column="PFBM" property="pfbm" jdbcType="VARCHAR" />
    <result column="JD" property="jd" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, QD_ID, QD, KPNR, KPFS, PFBM, JD, `STATUS`, CREATE_TIME, UPDATE_TIME, VERSION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from KP_CHECK_ITEM
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from KP_CHECK_ITEM
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.tingo.weaver.model.po.KpCheckItem" >
    insert into KP_CHECK_ITEM (ID, QD_ID, QD, 
      KPNR, KPFS, PFBM, JD, 
      `STATUS`, CREATE_TIME, UPDATE_TIME, 
      VERSION)
    values (#{id,jdbcType=DECIMAL}, #{qdId,jdbcType=DECIMAL}, #{qd,jdbcType=VARCHAR}, 
      #{kpnr,jdbcType=VARCHAR}, #{kpfs,jdbcType=DECIMAL}, #{pfbm,jdbcType=VARCHAR}, #{jd,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}, 
      #{version,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.tingo.weaver.model.po.KpCheckItem" >
    insert into KP_CHECK_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="qdId != null" >
        QD_ID,
      </if>
      <if test="qd != null" >
        QD,
      </if>
      <if test="kpnr != null" >
        KPNR,
      </if>
      <if test="kpfs != null" >
        KPFS,
      </if>
      <if test="pfbm != null" >
        PFBM,
      </if>
      <if test="jd != null" >
        JD,
      </if>
      <if test="status != null" >
        `STATUS`,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="qdId != null" >
        #{qdId,jdbcType=DECIMAL},
      </if>
      <if test="qd != null" >
        #{qd,jdbcType=VARCHAR},
      </if>
      <if test="kpnr != null" >
        #{kpnr,jdbcType=VARCHAR},
      </if>
      <if test="kpfs != null" >
        #{kpfs,jdbcType=DECIMAL},
      </if>
      <if test="pfbm != null" >
        #{pfbm,jdbcType=VARCHAR},
      </if>
      <if test="jd != null" >
        #{jd,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tingo.weaver.model.po.KpCheckItem" >
    update KP_CHECK_ITEM
    <set >
      <if test="qdId != null" >
        QD_ID = #{qdId,jdbcType=DECIMAL},
      </if>
      <if test="qd != null" >
        QD = #{qd,jdbcType=VARCHAR},
      </if>
      <if test="kpnr != null" >
        KPNR = #{kpnr,jdbcType=VARCHAR},
      </if>
      <if test="kpfs != null" >
        KPFS = #{kpfs,jdbcType=DECIMAL},
      </if>
      <if test="pfbm != null" >
        PFBM = #{pfbm,jdbcType=VARCHAR},
      </if>
      <if test="jd != null" >
        JD = #{jd,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        `STATUS` = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tingo.weaver.model.po.KpCheckItem" >
    update KP_CHECK_ITEM
    set QD_ID = #{qdId,jdbcType=DECIMAL},
      QD = #{qd,jdbcType=VARCHAR},
      KPNR = #{kpnr,jdbcType=VARCHAR},
      KPFS = #{kpfs,jdbcType=DECIMAL},
      PFBM = #{pfbm,jdbcType=VARCHAR},
      JD = #{jd,jdbcType=DECIMAL},
      `STATUS` = #{status,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      VERSION = #{version,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>