<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tingo.weaver.dao.KpCheckItemDetailDao" >
  <resultMap id="BaseResultMap" type="com.tingo.weaver.model.po.KpCheckItemDetail" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ITEM_ID" property="itemId" jdbcType="BIGINT" />
    <result column="PFBZ" property="pfbz" jdbcType="VARCHAR" />
    <result column="FS" property="fs" jdbcType="DECIMAL" />
    <result column="TKXZ" property="tkxz" jdbcType="VARCHAR" />
    <result column="JD" property="jd" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="VERSION" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ITEM_ID, PFBZ, FS,TKXZ, JD, STATUS, CREATE_TIME, UPDATE_TIME, VERSION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from KP_CHECK_ITEM_DETAIL
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from KP_CHECK_ITEM_DETAIL
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.tingo.weaver.model.po.KpCheckItemDetail" >
    <selectKey keyProperty="id" resultType="long" order="BEFORE">
      select KP_CHECK_ITEM_DETAIL_ID.NEXTVAL from dual
    </selectKey>

    insert into KP_CHECK_ITEM_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="pfbz != null" >
        PFBZ,
      </if>
      <if test="tkxz != null" >
        TKXZ,
      </if>
      <if test="fs != null" >
        FS,
      </if>
      <if test="jd != null" >
        JD,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="pfbz != null" >
        #{pfbz,jdbcType=VARCHAR},
      </if>
      <if test="tkxz != null" >
        #{tkxz,jdbcType=VARCHAR},
      </if>
      <if test="fs != null" >
        #{fs,jdbcType=DECIMAL},
      </if>
      <if test="jd != null" >
        #{jd,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tingo.weaver.model.po.KpCheckItemDetail" >
    update KP_CHECK_ITEM_DETAIL
    <set >
      <if test="itemId != null" >
        ITEM_ID = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="pfbz != null" >
        PFBZ = #{pfbz,jdbcType=VARCHAR},
      </if>
      <if test="fs != null" >
        FS = #{fs,jdbcType=DECIMAL},
      </if>
      <if test="tkxz != null" >
        TKXZ = #{tkxz,jdbcType=VARCHAR},
      </if>
      <if test="jd != null" >
        JD = #{jd,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <select id="selectByItemId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from KP_CHECK_ITEM_DETAIL
    where item_id = #{itemId,jdbcType=BIGINT}
  </select>

</mapper>