<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tingo.weaver.dao.QingdanDao" >
  <resultMap id="BaseResultMap" type="com.tingo.weaver.model.po.Qingdan" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="QINGDANMC" property="qingdanmc" jdbcType="VARCHAR" />
    <result column="QZ" property="qz" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="JD" property="jd" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, QINGDANMC, QZ, STATUS,JD
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from QINGDAN
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertSelective" parameterType="com.tingo.weaver.model.po.Qingdan" >
    insert into QINGDAN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="qingdanmc != null" >
        QINGDANMC,
      </if>
      <if test="qz != null" >
        QZ,
      </if>
      <if test="status != null" >
        `STATUS`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="qingdanmc != null" >
        #{qingdanmc,jdbcType=VARCHAR},
      </if>
      <if test="qz != null" >
        #{qz,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tingo.weaver.model.po.Qingdan" >
    update QINGDAN
    <set >
      <if test="qingdanmc != null" >
        QINGDANMC = #{qingdanmc,jdbcType=VARCHAR},
      </if>
      <if test="qz != null" >
        QZ = #{qz,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tingo.weaver.model.po.Qingdan" >
    update QINGDAN
    set QINGDANMC = #{qingdanmc,jdbcType=VARCHAR},
      QZ = #{qz,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectAvailableList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from QINGDAN
    where status = 0
    and jd = #{jd,jdbcType=INTEGER}
    order by id desc
  </select>
</mapper>