<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tingo.weaver.dao.HrmResourceDao">
  <resultMap id="BaseResultMap" type="com.tingo.weaver.model.po.HrmResource">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="LOGINID" jdbcType="VARCHAR" property="loginid" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="LASTNAME" jdbcType="VARCHAR" property="lastname" />
    <result column="SEX" jdbcType="CHAR" property="sex" />
    <result column="BIRTHDAY" jdbcType="CHAR" property="birthday" />
    <result column="NATIONALITY" jdbcType="DECIMAL" property="nationality" />
    <result column="SYSTEMLANGUAGE" jdbcType="DECIMAL" property="systemlanguage" />
    <result column="MARITALSTATUS" jdbcType="CHAR" property="maritalstatus" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="MOBILECALL" jdbcType="VARCHAR" property="mobilecall" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="LOCATIONID" jdbcType="DECIMAL" property="locationid" />
    <result column="WORKROOM" jdbcType="VARCHAR" property="workroom" />
    <result column="HOMEADDRESS" jdbcType="VARCHAR" property="homeaddress" />
    <result column="RESOURCETYPE" jdbcType="CHAR" property="resourcetype" />
    <result column="STARTDATE" jdbcType="CHAR" property="startdate" />
    <result column="ENDDATE" jdbcType="CHAR" property="enddate" />
    <result column="JOBTITLE" jdbcType="DECIMAL" property="jobtitle" />
    <result column="JOBACTIVITYDESC" jdbcType="VARCHAR" property="jobactivitydesc" />
    <result column="JOBLEVEL" jdbcType="DECIMAL" property="joblevel" />
    <result column="SECLEVEL" jdbcType="DECIMAL" property="seclevel" />
    <result column="DEPARTMENTID" jdbcType="DECIMAL" property="departmentid" />
    <result column="SUBCOMPANYID1" jdbcType="DECIMAL" property="subcompanyid1" />
    <result column="COSTCENTERID" jdbcType="DECIMAL" property="costcenterid" />
    <result column="MANAGERID" jdbcType="DECIMAL" property="managerid" />
    <result column="ASSISTANTID" jdbcType="DECIMAL" property="assistantid" />
    <result column="BANKID1" jdbcType="DECIMAL" property="bankid1" />
    <result column="ACCOUNTID1" jdbcType="VARCHAR" property="accountid1" />
    <result column="RESOURCEIMAGEID" jdbcType="DECIMAL" property="resourceimageid" />
    <result column="CREATERID" jdbcType="DECIMAL" property="createrid" />
    <result column="CREATEDATE" jdbcType="CHAR" property="createdate" />
    <result column="LASTMODID" jdbcType="DECIMAL" property="lastmodid" />
    <result column="LASTMODDATE" jdbcType="CHAR" property="lastmoddate" />
    <result column="LASTLOGINDATE" jdbcType="CHAR" property="lastlogindate" />
    <result column="DATEFIELD1" jdbcType="VARCHAR" property="datefield1" />
    <result column="DATEFIELD2" jdbcType="VARCHAR" property="datefield2" />
    <result column="DATEFIELD3" jdbcType="VARCHAR" property="datefield3" />
    <result column="DATEFIELD4" jdbcType="VARCHAR" property="datefield4" />
    <result column="DATEFIELD5" jdbcType="VARCHAR" property="datefield5" />
    <result column="NUMBERFIELD1" jdbcType="FLOAT" property="numberfield1" />
    <result column="NUMBERFIELD2" jdbcType="FLOAT" property="numberfield2" />
    <result column="NUMBERFIELD3" jdbcType="FLOAT" property="numberfield3" />
    <result column="NUMBERFIELD4" jdbcType="FLOAT" property="numberfield4" />
    <result column="NUMBERFIELD5" jdbcType="FLOAT" property="numberfield5" />
    <result column="TEXTFIELD1" jdbcType="VARCHAR" property="textfield1" />
    <result column="TEXTFIELD2" jdbcType="VARCHAR" property="textfield2" />
    <result column="TEXTFIELD3" jdbcType="VARCHAR" property="textfield3" />
    <result column="TEXTFIELD4" jdbcType="VARCHAR" property="textfield4" />
    <result column="TEXTFIELD5" jdbcType="VARCHAR" property="textfield5" />
    <result column="TINYINTFIELD1" jdbcType="DECIMAL" property="tinyintfield1" />
    <result column="TINYINTFIELD2" jdbcType="DECIMAL" property="tinyintfield2" />
    <result column="TINYINTFIELD3" jdbcType="DECIMAL" property="tinyintfield3" />
    <result column="TINYINTFIELD4" jdbcType="DECIMAL" property="tinyintfield4" />
    <result column="TINYINTFIELD5" jdbcType="DECIMAL" property="tinyintfield5" />
    <result column="CERTIFICATENUM" jdbcType="VARCHAR" property="certificatenum" />
    <result column="NATIVEPLACE" jdbcType="VARCHAR" property="nativeplace" />
    <result column="EDUCATIONLEVEL" jdbcType="DECIMAL" property="educationlevel" />
    <result column="BEMEMBERDATE" jdbcType="CHAR" property="bememberdate" />
    <result column="BEPARTYDATE" jdbcType="CHAR" property="bepartydate" />
    <result column="WORKCODE" jdbcType="VARCHAR" property="workcode" />
    <result column="REGRESIDENTPLACE" jdbcType="VARCHAR" property="regresidentplace" />
    <result column="HEALTHINFO" jdbcType="CHAR" property="healthinfo" />
    <result column="RESIDENTPLACE" jdbcType="VARCHAR" property="residentplace" />
    <result column="POLICY" jdbcType="VARCHAR" property="policy" />
    <result column="DEGREE" jdbcType="VARCHAR" property="degree" />
    <result column="HEIGHT" jdbcType="VARCHAR" property="height" />
    <result column="USEKIND" jdbcType="DECIMAL" property="usekind" />
    <result column="JOBCALL" jdbcType="DECIMAL" property="jobcall" />
    <result column="ACCUMFUNDACCOUNT" jdbcType="VARCHAR" property="accumfundaccount" />
    <result column="BIRTHPLACE" jdbcType="VARCHAR" property="birthplace" />
    <result column="FOLK" jdbcType="VARCHAR" property="folk" />
    <result column="RESIDENTPHONE" jdbcType="VARCHAR" property="residentphone" />
    <result column="RESIDENTPOSTCODE" jdbcType="VARCHAR" property="residentpostcode" />
    <result column="EXTPHONE" jdbcType="VARCHAR" property="extphone" />
    <result column="MANAGERSTR" jdbcType="VARCHAR" property="managerstr" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="FAX" jdbcType="VARCHAR" property="fax" />
    <result column="ISLABOUUNION" jdbcType="CHAR" property="islabouunion" />
    <result column="WEIGHT" jdbcType="DECIMAL" property="weight" />
    <result column="TEMPRESIDENTNUMBER" jdbcType="VARCHAR" property="tempresidentnumber" />
    <result column="PROBATIONENDDATE" jdbcType="CHAR" property="probationenddate" />
    <result column="COUNTRYID" jdbcType="DECIMAL" property="countryid" />
    <result column="PASSWDCHGDATE" jdbcType="CHAR" property="passwdchgdate" />
    <result column="NEEDUSB" jdbcType="DECIMAL" property="needusb" />
    <result column="SERIAL" jdbcType="VARCHAR" property="serial" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="LLOGINID" jdbcType="VARCHAR" property="lloginid" />
    <result column="NEEDDYNAPASS" jdbcType="DECIMAL" property="needdynapass" />
    <result column="DSPORDER" jdbcType="FLOAT" property="dsporder" />
    <result column="PASSWORDSTATE" jdbcType="DECIMAL" property="passwordstate" />
    <result column="ACCOUNTTYPE" jdbcType="DECIMAL" property="accounttype" />
    <result column="BELONGTO" jdbcType="DECIMAL" property="belongto" />
    <result column="DACTYLOGRAM" jdbcType="VARCHAR" property="dactylogram" />
    <result column="ASSISTANTDACTYLOGRAM" jdbcType="VARCHAR" property="assistantdactylogram" />
    <result column="PASSWORDLOCK" jdbcType="DECIMAL" property="passwordlock" />
    <result column="SUMPASSWORDWRONG" jdbcType="DECIMAL" property="sumpasswordwrong" />
    <result column="OLDPASSWORD1" jdbcType="VARCHAR" property="oldpassword1" />
    <result column="OLDPASSWORD2" jdbcType="VARCHAR" property="oldpassword2" />
    <result column="MSGSTYLE" jdbcType="VARCHAR" property="msgstyle" />
    <result column="MESSAGERURL" jdbcType="VARCHAR" property="messagerurl" />
    <result column="PINYINLASTNAME" jdbcType="VARCHAR" property="pinyinlastname" />
    <result column="TOKENKEY" jdbcType="VARCHAR" property="tokenkey" />
    <result column="USERUSBTYPE" jdbcType="VARCHAR" property="userusbtype" />
    <result column="FID" jdbcType="VARCHAR" property="fid" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, LOGINID, PASSWORD, LASTNAME, SEX, BIRTHDAY, NATIONALITY, SYSTEMLANGUAGE, MARITALSTATUS, 
    TELEPHONE, MOBILE, MOBILECALL, EMAIL, LOCATIONID, WORKROOM, HOMEADDRESS, RESOURCETYPE, 
    STARTDATE, ENDDATE, JOBTITLE, JOBACTIVITYDESC, JOBLEVEL, SECLEVEL, DEPARTMENTID, 
    SUBCOMPANYID1, COSTCENTERID, MANAGERID, ASSISTANTID, BANKID1, ACCOUNTID1, RESOURCEIMAGEID, 
    CREATERID, CREATEDATE, LASTMODID, LASTMODDATE, LASTLOGINDATE, DATEFIELD1, DATEFIELD2, 
    DATEFIELD3, DATEFIELD4, DATEFIELD5, NUMBERFIELD1, NUMBERFIELD2, NUMBERFIELD3, NUMBERFIELD4, 
    NUMBERFIELD5, TEXTFIELD1, TEXTFIELD2, TEXTFIELD3, TEXTFIELD4, TEXTFIELD5, TINYINTFIELD1, 
    TINYINTFIELD2, TINYINTFIELD3, TINYINTFIELD4, TINYINTFIELD5, CERTIFICATENUM, NATIVEPLACE, 
    EDUCATIONLEVEL, BEMEMBERDATE, BEPARTYDATE, WORKCODE, REGRESIDENTPLACE, HEALTHINFO, 
    RESIDENTPLACE, POLICY, DEGREE, HEIGHT, USEKIND, JOBCALL, ACCUMFUNDACCOUNT, BIRTHPLACE, 
    FOLK, RESIDENTPHONE, RESIDENTPOSTCODE, EXTPHONE, MANAGERSTR, STATUS, FAX, ISLABOUUNION, 
    WEIGHT, TEMPRESIDENTNUMBER, PROBATIONENDDATE, COUNTRYID, PASSWDCHGDATE, NEEDUSB, 
    SERIAL, ACCOUNT, LLOGINID, NEEDDYNAPASS, DSPORDER, PASSWORDSTATE, ACCOUNTTYPE, BELONGTO, 
    DACTYLOGRAM, ASSISTANTDACTYLOGRAM, PASSWORDLOCK, SUMPASSWORDWRONG, OLDPASSWORD1, 
    OLDPASSWORD2, MSGSTYLE, MESSAGERURL, PINYINLASTNAME, TOKENKEY, USERUSBTYPE, FID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HRMRESOURCE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from HRMRESOURCE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.tingo.weaver.model.po.HrmResource">
    insert into HRMRESOURCE (ID, LOGINID, PASSWORD, 
      LASTNAME, SEX, BIRTHDAY, 
      NATIONALITY, SYSTEMLANGUAGE, MARITALSTATUS, 
      TELEPHONE, MOBILE, MOBILECALL, 
      EMAIL, LOCATIONID, WORKROOM, 
      HOMEADDRESS, RESOURCETYPE, STARTDATE, 
      ENDDATE, JOBTITLE, JOBACTIVITYDESC, 
      JOBLEVEL, SECLEVEL, DEPARTMENTID, 
      SUBCOMPANYID1, COSTCENTERID, MANAGERID, 
      ASSISTANTID, BANKID1, ACCOUNTID1, 
      RESOURCEIMAGEID, CREATERID, CREATEDATE, 
      LASTMODID, LASTMODDATE, LASTLOGINDATE, 
      DATEFIELD1, DATEFIELD2, DATEFIELD3, 
      DATEFIELD4, DATEFIELD5, NUMBERFIELD1, 
      NUMBERFIELD2, NUMBERFIELD3, NUMBERFIELD4, 
      NUMBERFIELD5, TEXTFIELD1, TEXTFIELD2, 
      TEXTFIELD3, TEXTFIELD4, TEXTFIELD5, 
      TINYINTFIELD1, TINYINTFIELD2, TINYINTFIELD3, 
      TINYINTFIELD4, TINYINTFIELD5, CERTIFICATENUM, 
      NATIVEPLACE, EDUCATIONLEVEL, BEMEMBERDATE, 
      BEPARTYDATE, WORKCODE, REGRESIDENTPLACE, 
      HEALTHINFO, RESIDENTPLACE, POLICY, 
      DEGREE, HEIGHT, USEKIND, 
      JOBCALL, ACCUMFUNDACCOUNT, BIRTHPLACE, 
      FOLK, RESIDENTPHONE, RESIDENTPOSTCODE, 
      EXTPHONE, MANAGERSTR, STATUS, 
      FAX, ISLABOUUNION, WEIGHT, 
      TEMPRESIDENTNUMBER, PROBATIONENDDATE, COUNTRYID, 
      PASSWDCHGDATE, NEEDUSB, SERIAL, 
      ACCOUNT, LLOGINID, NEEDDYNAPASS, 
      DSPORDER, PASSWORDSTATE, ACCOUNTTYPE, 
      BELONGTO, DACTYLOGRAM, ASSISTANTDACTYLOGRAM, 
      PASSWORDLOCK, SUMPASSWORDWRONG, OLDPASSWORD1, 
      OLDPASSWORD2, MSGSTYLE, MESSAGERURL, 
      PINYINLASTNAME, TOKENKEY, USERUSBTYPE, 
      FID)
    values (#{id,jdbcType=DECIMAL}, #{loginid,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{lastname,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{birthday,jdbcType=CHAR}, 
      #{nationality,jdbcType=DECIMAL}, #{systemlanguage,jdbcType=DECIMAL}, #{maritalstatus,jdbcType=CHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{mobilecall,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{locationid,jdbcType=DECIMAL}, #{workroom,jdbcType=VARCHAR}, 
      #{homeaddress,jdbcType=VARCHAR}, #{resourcetype,jdbcType=CHAR}, #{startdate,jdbcType=CHAR}, 
      #{enddate,jdbcType=CHAR}, #{jobtitle,jdbcType=DECIMAL}, #{jobactivitydesc,jdbcType=VARCHAR}, 
      #{joblevel,jdbcType=DECIMAL}, #{seclevel,jdbcType=DECIMAL}, #{departmentid,jdbcType=DECIMAL}, 
      #{subcompanyid1,jdbcType=DECIMAL}, #{costcenterid,jdbcType=DECIMAL}, #{managerid,jdbcType=DECIMAL}, 
      #{assistantid,jdbcType=DECIMAL}, #{bankid1,jdbcType=DECIMAL}, #{accountid1,jdbcType=VARCHAR}, 
      #{resourceimageid,jdbcType=DECIMAL}, #{createrid,jdbcType=DECIMAL}, #{createdate,jdbcType=CHAR}, 
      #{lastmodid,jdbcType=DECIMAL}, #{lastmoddate,jdbcType=CHAR}, #{lastlogindate,jdbcType=CHAR}, 
      #{datefield1,jdbcType=VARCHAR}, #{datefield2,jdbcType=VARCHAR}, #{datefield3,jdbcType=VARCHAR}, 
      #{datefield4,jdbcType=VARCHAR}, #{datefield5,jdbcType=VARCHAR}, #{numberfield1,jdbcType=FLOAT}, 
      #{numberfield2,jdbcType=FLOAT}, #{numberfield3,jdbcType=FLOAT}, #{numberfield4,jdbcType=FLOAT}, 
      #{numberfield5,jdbcType=FLOAT}, #{textfield1,jdbcType=VARCHAR}, #{textfield2,jdbcType=VARCHAR}, 
      #{textfield3,jdbcType=VARCHAR}, #{textfield4,jdbcType=VARCHAR}, #{textfield5,jdbcType=VARCHAR}, 
      #{tinyintfield1,jdbcType=DECIMAL}, #{tinyintfield2,jdbcType=DECIMAL}, #{tinyintfield3,jdbcType=DECIMAL}, 
      #{tinyintfield4,jdbcType=DECIMAL}, #{tinyintfield5,jdbcType=DECIMAL}, #{certificatenum,jdbcType=VARCHAR}, 
      #{nativeplace,jdbcType=VARCHAR}, #{educationlevel,jdbcType=DECIMAL}, #{bememberdate,jdbcType=CHAR}, 
      #{bepartydate,jdbcType=CHAR}, #{workcode,jdbcType=VARCHAR}, #{regresidentplace,jdbcType=VARCHAR}, 
      #{healthinfo,jdbcType=CHAR}, #{residentplace,jdbcType=VARCHAR}, #{policy,jdbcType=VARCHAR}, 
      #{degree,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR}, #{usekind,jdbcType=DECIMAL}, 
      #{jobcall,jdbcType=DECIMAL}, #{accumfundaccount,jdbcType=VARCHAR}, #{birthplace,jdbcType=VARCHAR}, 
      #{folk,jdbcType=VARCHAR}, #{residentphone,jdbcType=VARCHAR}, #{residentpostcode,jdbcType=VARCHAR}, 
      #{extphone,jdbcType=VARCHAR}, #{managerstr,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      #{fax,jdbcType=VARCHAR}, #{islabouunion,jdbcType=CHAR}, #{weight,jdbcType=DECIMAL}, 
      #{tempresidentnumber,jdbcType=VARCHAR}, #{probationenddate,jdbcType=CHAR}, #{countryid,jdbcType=DECIMAL}, 
      #{passwdchgdate,jdbcType=CHAR}, #{needusb,jdbcType=DECIMAL}, #{serial,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{lloginid,jdbcType=VARCHAR}, #{needdynapass,jdbcType=DECIMAL}, 
      #{dsporder,jdbcType=FLOAT}, #{passwordstate,jdbcType=DECIMAL}, #{accounttype,jdbcType=DECIMAL}, 
      #{belongto,jdbcType=DECIMAL}, #{dactylogram,jdbcType=VARCHAR}, #{assistantdactylogram,jdbcType=VARCHAR}, 
      #{passwordlock,jdbcType=DECIMAL}, #{sumpasswordwrong,jdbcType=DECIMAL}, #{oldpassword1,jdbcType=VARCHAR}, 
      #{oldpassword2,jdbcType=VARCHAR}, #{msgstyle,jdbcType=VARCHAR}, #{messagerurl,jdbcType=VARCHAR}, 
      #{pinyinlastname,jdbcType=VARCHAR}, #{tokenkey,jdbcType=VARCHAR}, #{userusbtype,jdbcType=VARCHAR}, 
      #{fid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tingo.weaver.model.po.HrmResource">
    insert into HRMRESOURCE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="loginid != null">
        LOGINID,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="lastname != null">
        LASTNAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
      <if test="nationality != null">
        NATIONALITY,
      </if>
      <if test="systemlanguage != null">
        SYSTEMLANGUAGE,
      </if>
      <if test="maritalstatus != null">
        MARITALSTATUS,
      </if>
      <if test="telephone != null">
        TELEPHONE,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="mobilecall != null">
        MOBILECALL,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="locationid != null">
        LOCATIONID,
      </if>
      <if test="workroom != null">
        WORKROOM,
      </if>
      <if test="homeaddress != null">
        HOMEADDRESS,
      </if>
      <if test="resourcetype != null">
        RESOURCETYPE,
      </if>
      <if test="startdate != null">
        STARTDATE,
      </if>
      <if test="enddate != null">
        ENDDATE,
      </if>
      <if test="jobtitle != null">
        JOBTITLE,
      </if>
      <if test="jobactivitydesc != null">
        JOBACTIVITYDESC,
      </if>
      <if test="joblevel != null">
        JOBLEVEL,
      </if>
      <if test="seclevel != null">
        SECLEVEL,
      </if>
      <if test="departmentid != null">
        DEPARTMENTID,
      </if>
      <if test="subcompanyid1 != null">
        SUBCOMPANYID1,
      </if>
      <if test="costcenterid != null">
        COSTCENTERID,
      </if>
      <if test="managerid != null">
        MANAGERID,
      </if>
      <if test="assistantid != null">
        ASSISTANTID,
      </if>
      <if test="bankid1 != null">
        BANKID1,
      </if>
      <if test="accountid1 != null">
        ACCOUNTID1,
      </if>
      <if test="resourceimageid != null">
        RESOURCEIMAGEID,
      </if>
      <if test="createrid != null">
        CREATERID,
      </if>
      <if test="createdate != null">
        CREATEDATE,
      </if>
      <if test="lastmodid != null">
        LASTMODID,
      </if>
      <if test="lastmoddate != null">
        LASTMODDATE,
      </if>
      <if test="lastlogindate != null">
        LASTLOGINDATE,
      </if>
      <if test="datefield1 != null">
        DATEFIELD1,
      </if>
      <if test="datefield2 != null">
        DATEFIELD2,
      </if>
      <if test="datefield3 != null">
        DATEFIELD3,
      </if>
      <if test="datefield4 != null">
        DATEFIELD4,
      </if>
      <if test="datefield5 != null">
        DATEFIELD5,
      </if>
      <if test="numberfield1 != null">
        NUMBERFIELD1,
      </if>
      <if test="numberfield2 != null">
        NUMBERFIELD2,
      </if>
      <if test="numberfield3 != null">
        NUMBERFIELD3,
      </if>
      <if test="numberfield4 != null">
        NUMBERFIELD4,
      </if>
      <if test="numberfield5 != null">
        NUMBERFIELD5,
      </if>
      <if test="textfield1 != null">
        TEXTFIELD1,
      </if>
      <if test="textfield2 != null">
        TEXTFIELD2,
      </if>
      <if test="textfield3 != null">
        TEXTFIELD3,
      </if>
      <if test="textfield4 != null">
        TEXTFIELD4,
      </if>
      <if test="textfield5 != null">
        TEXTFIELD5,
      </if>
      <if test="tinyintfield1 != null">
        TINYINTFIELD1,
      </if>
      <if test="tinyintfield2 != null">
        TINYINTFIELD2,
      </if>
      <if test="tinyintfield3 != null">
        TINYINTFIELD3,
      </if>
      <if test="tinyintfield4 != null">
        TINYINTFIELD4,
      </if>
      <if test="tinyintfield5 != null">
        TINYINTFIELD5,
      </if>
      <if test="certificatenum != null">
        CERTIFICATENUM,
      </if>
      <if test="nativeplace != null">
        NATIVEPLACE,
      </if>
      <if test="educationlevel != null">
        EDUCATIONLEVEL,
      </if>
      <if test="bememberdate != null">
        BEMEMBERDATE,
      </if>
      <if test="bepartydate != null">
        BEPARTYDATE,
      </if>
      <if test="workcode != null">
        WORKCODE,
      </if>
      <if test="regresidentplace != null">
        REGRESIDENTPLACE,
      </if>
      <if test="healthinfo != null">
        HEALTHINFO,
      </if>
      <if test="residentplace != null">
        RESIDENTPLACE,
      </if>
      <if test="policy != null">
        POLICY,
      </if>
      <if test="degree != null">
        DEGREE,
      </if>
      <if test="height != null">
        HEIGHT,
      </if>
      <if test="usekind != null">
        USEKIND,
      </if>
      <if test="jobcall != null">
        JOBCALL,
      </if>
      <if test="accumfundaccount != null">
        ACCUMFUNDACCOUNT,
      </if>
      <if test="birthplace != null">
        BIRTHPLACE,
      </if>
      <if test="folk != null">
        FOLK,
      </if>
      <if test="residentphone != null">
        RESIDENTPHONE,
      </if>
      <if test="residentpostcode != null">
        RESIDENTPOSTCODE,
      </if>
      <if test="extphone != null">
        EXTPHONE,
      </if>
      <if test="managerstr != null">
        MANAGERSTR,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="fax != null">
        FAX,
      </if>
      <if test="islabouunion != null">
        ISLABOUUNION,
      </if>
      <if test="weight != null">
        WEIGHT,
      </if>
      <if test="tempresidentnumber != null">
        TEMPRESIDENTNUMBER,
      </if>
      <if test="probationenddate != null">
        PROBATIONENDDATE,
      </if>
      <if test="countryid != null">
        COUNTRYID,
      </if>
      <if test="passwdchgdate != null">
        PASSWDCHGDATE,
      </if>
      <if test="needusb != null">
        NEEDUSB,
      </if>
      <if test="serial != null">
        SERIAL,
      </if>
      <if test="account != null">
        ACCOUNT,
      </if>
      <if test="lloginid != null">
        LLOGINID,
      </if>
      <if test="needdynapass != null">
        NEEDDYNAPASS,
      </if>
      <if test="dsporder != null">
        DSPORDER,
      </if>
      <if test="passwordstate != null">
        PASSWORDSTATE,
      </if>
      <if test="accounttype != null">
        ACCOUNTTYPE,
      </if>
      <if test="belongto != null">
        BELONGTO,
      </if>
      <if test="dactylogram != null">
        DACTYLOGRAM,
      </if>
      <if test="assistantdactylogram != null">
        ASSISTANTDACTYLOGRAM,
      </if>
      <if test="passwordlock != null">
        PASSWORDLOCK,
      </if>
      <if test="sumpasswordwrong != null">
        SUMPASSWORDWRONG,
      </if>
      <if test="oldpassword1 != null">
        OLDPASSWORD1,
      </if>
      <if test="oldpassword2 != null">
        OLDPASSWORD2,
      </if>
      <if test="msgstyle != null">
        MSGSTYLE,
      </if>
      <if test="messagerurl != null">
        MESSAGERURL,
      </if>
      <if test="pinyinlastname != null">
        PINYINLASTNAME,
      </if>
      <if test="tokenkey != null">
        TOKENKEY,
      </if>
      <if test="userusbtype != null">
        USERUSBTYPE,
      </if>
      <if test="fid != null">
        FID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="loginid != null">
        #{loginid,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null">
        #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=CHAR},
      </if>
      <if test="nationality != null">
        #{nationality,jdbcType=DECIMAL},
      </if>
      <if test="systemlanguage != null">
        #{systemlanguage,jdbcType=DECIMAL},
      </if>
      <if test="maritalstatus != null">
        #{maritalstatus,jdbcType=CHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mobilecall != null">
        #{mobilecall,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="locationid != null">
        #{locationid,jdbcType=DECIMAL},
      </if>
      <if test="workroom != null">
        #{workroom,jdbcType=VARCHAR},
      </if>
      <if test="homeaddress != null">
        #{homeaddress,jdbcType=VARCHAR},
      </if>
      <if test="resourcetype != null">
        #{resourcetype,jdbcType=CHAR},
      </if>
      <if test="startdate != null">
        #{startdate,jdbcType=CHAR},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=CHAR},
      </if>
      <if test="jobtitle != null">
        #{jobtitle,jdbcType=DECIMAL},
      </if>
      <if test="jobactivitydesc != null">
        #{jobactivitydesc,jdbcType=VARCHAR},
      </if>
      <if test="joblevel != null">
        #{joblevel,jdbcType=DECIMAL},
      </if>
      <if test="seclevel != null">
        #{seclevel,jdbcType=DECIMAL},
      </if>
      <if test="departmentid != null">
        #{departmentid,jdbcType=DECIMAL},
      </if>
      <if test="subcompanyid1 != null">
        #{subcompanyid1,jdbcType=DECIMAL},
      </if>
      <if test="costcenterid != null">
        #{costcenterid,jdbcType=DECIMAL},
      </if>
      <if test="managerid != null">
        #{managerid,jdbcType=DECIMAL},
      </if>
      <if test="assistantid != null">
        #{assistantid,jdbcType=DECIMAL},
      </if>
      <if test="bankid1 != null">
        #{bankid1,jdbcType=DECIMAL},
      </if>
      <if test="accountid1 != null">
        #{accountid1,jdbcType=VARCHAR},
      </if>
      <if test="resourceimageid != null">
        #{resourceimageid,jdbcType=DECIMAL},
      </if>
      <if test="createrid != null">
        #{createrid,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=CHAR},
      </if>
      <if test="lastmodid != null">
        #{lastmodid,jdbcType=DECIMAL},
      </if>
      <if test="lastmoddate != null">
        #{lastmoddate,jdbcType=CHAR},
      </if>
      <if test="lastlogindate != null">
        #{lastlogindate,jdbcType=CHAR},
      </if>
      <if test="datefield1 != null">
        #{datefield1,jdbcType=VARCHAR},
      </if>
      <if test="datefield2 != null">
        #{datefield2,jdbcType=VARCHAR},
      </if>
      <if test="datefield3 != null">
        #{datefield3,jdbcType=VARCHAR},
      </if>
      <if test="datefield4 != null">
        #{datefield4,jdbcType=VARCHAR},
      </if>
      <if test="datefield5 != null">
        #{datefield5,jdbcType=VARCHAR},
      </if>
      <if test="numberfield1 != null">
        #{numberfield1,jdbcType=FLOAT},
      </if>
      <if test="numberfield2 != null">
        #{numberfield2,jdbcType=FLOAT},
      </if>
      <if test="numberfield3 != null">
        #{numberfield3,jdbcType=FLOAT},
      </if>
      <if test="numberfield4 != null">
        #{numberfield4,jdbcType=FLOAT},
      </if>
      <if test="numberfield5 != null">
        #{numberfield5,jdbcType=FLOAT},
      </if>
      <if test="textfield1 != null">
        #{textfield1,jdbcType=VARCHAR},
      </if>
      <if test="textfield2 != null">
        #{textfield2,jdbcType=VARCHAR},
      </if>
      <if test="textfield3 != null">
        #{textfield3,jdbcType=VARCHAR},
      </if>
      <if test="textfield4 != null">
        #{textfield4,jdbcType=VARCHAR},
      </if>
      <if test="textfield5 != null">
        #{textfield5,jdbcType=VARCHAR},
      </if>
      <if test="tinyintfield1 != null">
        #{tinyintfield1,jdbcType=DECIMAL},
      </if>
      <if test="tinyintfield2 != null">
        #{tinyintfield2,jdbcType=DECIMAL},
      </if>
      <if test="tinyintfield3 != null">
        #{tinyintfield3,jdbcType=DECIMAL},
      </if>
      <if test="tinyintfield4 != null">
        #{tinyintfield4,jdbcType=DECIMAL},
      </if>
      <if test="tinyintfield5 != null">
        #{tinyintfield5,jdbcType=DECIMAL},
      </if>
      <if test="certificatenum != null">
        #{certificatenum,jdbcType=VARCHAR},
      </if>
      <if test="nativeplace != null">
        #{nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="educationlevel != null">
        #{educationlevel,jdbcType=DECIMAL},
      </if>
      <if test="bememberdate != null">
        #{bememberdate,jdbcType=CHAR},
      </if>
      <if test="bepartydate != null">
        #{bepartydate,jdbcType=CHAR},
      </if>
      <if test="workcode != null">
        #{workcode,jdbcType=VARCHAR},
      </if>
      <if test="regresidentplace != null">
        #{regresidentplace,jdbcType=VARCHAR},
      </if>
      <if test="healthinfo != null">
        #{healthinfo,jdbcType=CHAR},
      </if>
      <if test="residentplace != null">
        #{residentplace,jdbcType=VARCHAR},
      </if>
      <if test="policy != null">
        #{policy,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="usekind != null">
        #{usekind,jdbcType=DECIMAL},
      </if>
      <if test="jobcall != null">
        #{jobcall,jdbcType=DECIMAL},
      </if>
      <if test="accumfundaccount != null">
        #{accumfundaccount,jdbcType=VARCHAR},
      </if>
      <if test="birthplace != null">
        #{birthplace,jdbcType=VARCHAR},
      </if>
      <if test="folk != null">
        #{folk,jdbcType=VARCHAR},
      </if>
      <if test="residentphone != null">
        #{residentphone,jdbcType=VARCHAR},
      </if>
      <if test="residentpostcode != null">
        #{residentpostcode,jdbcType=VARCHAR},
      </if>
      <if test="extphone != null">
        #{extphone,jdbcType=VARCHAR},
      </if>
      <if test="managerstr != null">
        #{managerstr,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="islabouunion != null">
        #{islabouunion,jdbcType=CHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="tempresidentnumber != null">
        #{tempresidentnumber,jdbcType=VARCHAR},
      </if>
      <if test="probationenddate != null">
        #{probationenddate,jdbcType=CHAR},
      </if>
      <if test="countryid != null">
        #{countryid,jdbcType=DECIMAL},
      </if>
      <if test="passwdchgdate != null">
        #{passwdchgdate,jdbcType=CHAR},
      </if>
      <if test="needusb != null">
        #{needusb,jdbcType=DECIMAL},
      </if>
      <if test="serial != null">
        #{serial,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="lloginid != null">
        #{lloginid,jdbcType=VARCHAR},
      </if>
      <if test="needdynapass != null">
        #{needdynapass,jdbcType=DECIMAL},
      </if>
      <if test="dsporder != null">
        #{dsporder,jdbcType=FLOAT},
      </if>
      <if test="passwordstate != null">
        #{passwordstate,jdbcType=DECIMAL},
      </if>
      <if test="accounttype != null">
        #{accounttype,jdbcType=DECIMAL},
      </if>
      <if test="belongto != null">
        #{belongto,jdbcType=DECIMAL},
      </if>
      <if test="dactylogram != null">
        #{dactylogram,jdbcType=VARCHAR},
      </if>
      <if test="assistantdactylogram != null">
        #{assistantdactylogram,jdbcType=VARCHAR},
      </if>
      <if test="passwordlock != null">
        #{passwordlock,jdbcType=DECIMAL},
      </if>
      <if test="sumpasswordwrong != null">
        #{sumpasswordwrong,jdbcType=DECIMAL},
      </if>
      <if test="oldpassword1 != null">
        #{oldpassword1,jdbcType=VARCHAR},
      </if>
      <if test="oldpassword2 != null">
        #{oldpassword2,jdbcType=VARCHAR},
      </if>
      <if test="msgstyle != null">
        #{msgstyle,jdbcType=VARCHAR},
      </if>
      <if test="messagerurl != null">
        #{messagerurl,jdbcType=VARCHAR},
      </if>
      <if test="pinyinlastname != null">
        #{pinyinlastname,jdbcType=VARCHAR},
      </if>
      <if test="tokenkey != null">
        #{tokenkey,jdbcType=VARCHAR},
      </if>
      <if test="userusbtype != null">
        #{userusbtype,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tingo.weaver.model.po.HrmResource">
    update HRMRESOURCE
    <set>
      <if test="loginid != null">
        LOGINID = #{loginid,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null">
        LASTNAME = #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        BIRTHDAY = #{birthday,jdbcType=CHAR},
      </if>
      <if test="nationality != null">
        NATIONALITY = #{nationality,jdbcType=DECIMAL},
      </if>
      <if test="systemlanguage != null">
        SYSTEMLANGUAGE = #{systemlanguage,jdbcType=DECIMAL},
      </if>
      <if test="maritalstatus != null">
        MARITALSTATUS = #{maritalstatus,jdbcType=CHAR},
      </if>
      <if test="telephone != null">
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mobilecall != null">
        MOBILECALL = #{mobilecall,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="locationid != null">
        LOCATIONID = #{locationid,jdbcType=DECIMAL},
      </if>
      <if test="workroom != null">
        WORKROOM = #{workroom,jdbcType=VARCHAR},
      </if>
      <if test="homeaddress != null">
        HOMEADDRESS = #{homeaddress,jdbcType=VARCHAR},
      </if>
      <if test="resourcetype != null">
        RESOURCETYPE = #{resourcetype,jdbcType=CHAR},
      </if>
      <if test="startdate != null">
        STARTDATE = #{startdate,jdbcType=CHAR},
      </if>
      <if test="enddate != null">
        ENDDATE = #{enddate,jdbcType=CHAR},
      </if>
      <if test="jobtitle != null">
        JOBTITLE = #{jobtitle,jdbcType=DECIMAL},
      </if>
      <if test="jobactivitydesc != null">
        JOBACTIVITYDESC = #{jobactivitydesc,jdbcType=VARCHAR},
      </if>
      <if test="joblevel != null">
        JOBLEVEL = #{joblevel,jdbcType=DECIMAL},
      </if>
      <if test="seclevel != null">
        SECLEVEL = #{seclevel,jdbcType=DECIMAL},
      </if>
      <if test="departmentid != null">
        DEPARTMENTID = #{departmentid,jdbcType=DECIMAL},
      </if>
      <if test="subcompanyid1 != null">
        SUBCOMPANYID1 = #{subcompanyid1,jdbcType=DECIMAL},
      </if>
      <if test="costcenterid != null">
        COSTCENTERID = #{costcenterid,jdbcType=DECIMAL},
      </if>
      <if test="managerid != null">
        MANAGERID = #{managerid,jdbcType=DECIMAL},
      </if>
      <if test="assistantid != null">
        ASSISTANTID = #{assistantid,jdbcType=DECIMAL},
      </if>
      <if test="bankid1 != null">
        BANKID1 = #{bankid1,jdbcType=DECIMAL},
      </if>
      <if test="accountid1 != null">
        ACCOUNTID1 = #{accountid1,jdbcType=VARCHAR},
      </if>
      <if test="resourceimageid != null">
        RESOURCEIMAGEID = #{resourceimageid,jdbcType=DECIMAL},
      </if>
      <if test="createrid != null">
        CREATERID = #{createrid,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null">
        CREATEDATE = #{createdate,jdbcType=CHAR},
      </if>
      <if test="lastmodid != null">
        LASTMODID = #{lastmodid,jdbcType=DECIMAL},
      </if>
      <if test="lastmoddate != null">
        LASTMODDATE = #{lastmoddate,jdbcType=CHAR},
      </if>
      <if test="lastlogindate != null">
        LASTLOGINDATE = #{lastlogindate,jdbcType=CHAR},
      </if>
      <if test="datefield1 != null">
        DATEFIELD1 = #{datefield1,jdbcType=VARCHAR},
      </if>
      <if test="datefield2 != null">
        DATEFIELD2 = #{datefield2,jdbcType=VARCHAR},
      </if>
      <if test="datefield3 != null">
        DATEFIELD3 = #{datefield3,jdbcType=VARCHAR},
      </if>
      <if test="datefield4 != null">
        DATEFIELD4 = #{datefield4,jdbcType=VARCHAR},
      </if>
      <if test="datefield5 != null">
        DATEFIELD5 = #{datefield5,jdbcType=VARCHAR},
      </if>
      <if test="numberfield1 != null">
        NUMBERFIELD1 = #{numberfield1,jdbcType=FLOAT},
      </if>
      <if test="numberfield2 != null">
        NUMBERFIELD2 = #{numberfield2,jdbcType=FLOAT},
      </if>
      <if test="numberfield3 != null">
        NUMBERFIELD3 = #{numberfield3,jdbcType=FLOAT},
      </if>
      <if test="numberfield4 != null">
        NUMBERFIELD4 = #{numberfield4,jdbcType=FLOAT},
      </if>
      <if test="numberfield5 != null">
        NUMBERFIELD5 = #{numberfield5,jdbcType=FLOAT},
      </if>
      <if test="textfield1 != null">
        TEXTFIELD1 = #{textfield1,jdbcType=VARCHAR},
      </if>
      <if test="textfield2 != null">
        TEXTFIELD2 = #{textfield2,jdbcType=VARCHAR},
      </if>
      <if test="textfield3 != null">
        TEXTFIELD3 = #{textfield3,jdbcType=VARCHAR},
      </if>
      <if test="textfield4 != null">
        TEXTFIELD4 = #{textfield4,jdbcType=VARCHAR},
      </if>
      <if test="textfield5 != null">
        TEXTFIELD5 = #{textfield5,jdbcType=VARCHAR},
      </if>
      <if test="tinyintfield1 != null">
        TINYINTFIELD1 = #{tinyintfield1,jdbcType=DECIMAL},
      </if>
      <if test="tinyintfield2 != null">
        TINYINTFIELD2 = #{tinyintfield2,jdbcType=DECIMAL},
      </if>
      <if test="tinyintfield3 != null">
        TINYINTFIELD3 = #{tinyintfield3,jdbcType=DECIMAL},
      </if>
      <if test="tinyintfield4 != null">
        TINYINTFIELD4 = #{tinyintfield4,jdbcType=DECIMAL},
      </if>
      <if test="tinyintfield5 != null">
        TINYINTFIELD5 = #{tinyintfield5,jdbcType=DECIMAL},
      </if>
      <if test="certificatenum != null">
        CERTIFICATENUM = #{certificatenum,jdbcType=VARCHAR},
      </if>
      <if test="nativeplace != null">
        NATIVEPLACE = #{nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="educationlevel != null">
        EDUCATIONLEVEL = #{educationlevel,jdbcType=DECIMAL},
      </if>
      <if test="bememberdate != null">
        BEMEMBERDATE = #{bememberdate,jdbcType=CHAR},
      </if>
      <if test="bepartydate != null">
        BEPARTYDATE = #{bepartydate,jdbcType=CHAR},
      </if>
      <if test="workcode != null">
        WORKCODE = #{workcode,jdbcType=VARCHAR},
      </if>
      <if test="regresidentplace != null">
        REGRESIDENTPLACE = #{regresidentplace,jdbcType=VARCHAR},
      </if>
      <if test="healthinfo != null">
        HEALTHINFO = #{healthinfo,jdbcType=CHAR},
      </if>
      <if test="residentplace != null">
        RESIDENTPLACE = #{residentplace,jdbcType=VARCHAR},
      </if>
      <if test="policy != null">
        POLICY = #{policy,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        DEGREE = #{degree,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        HEIGHT = #{height,jdbcType=VARCHAR},
      </if>
      <if test="usekind != null">
        USEKIND = #{usekind,jdbcType=DECIMAL},
      </if>
      <if test="jobcall != null">
        JOBCALL = #{jobcall,jdbcType=DECIMAL},
      </if>
      <if test="accumfundaccount != null">
        ACCUMFUNDACCOUNT = #{accumfundaccount,jdbcType=VARCHAR},
      </if>
      <if test="birthplace != null">
        BIRTHPLACE = #{birthplace,jdbcType=VARCHAR},
      </if>
      <if test="folk != null">
        FOLK = #{folk,jdbcType=VARCHAR},
      </if>
      <if test="residentphone != null">
        RESIDENTPHONE = #{residentphone,jdbcType=VARCHAR},
      </if>
      <if test="residentpostcode != null">
        RESIDENTPOSTCODE = #{residentpostcode,jdbcType=VARCHAR},
      </if>
      <if test="extphone != null">
        EXTPHONE = #{extphone,jdbcType=VARCHAR},
      </if>
      <if test="managerstr != null">
        MANAGERSTR = #{managerstr,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="fax != null">
        FAX = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="islabouunion != null">
        ISLABOUUNION = #{islabouunion,jdbcType=CHAR},
      </if>
      <if test="weight != null">
        WEIGHT = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="tempresidentnumber != null">
        TEMPRESIDENTNUMBER = #{tempresidentnumber,jdbcType=VARCHAR},
      </if>
      <if test="probationenddate != null">
        PROBATIONENDDATE = #{probationenddate,jdbcType=CHAR},
      </if>
      <if test="countryid != null">
        COUNTRYID = #{countryid,jdbcType=DECIMAL},
      </if>
      <if test="passwdchgdate != null">
        PASSWDCHGDATE = #{passwdchgdate,jdbcType=CHAR},
      </if>
      <if test="needusb != null">
        NEEDUSB = #{needusb,jdbcType=DECIMAL},
      </if>
      <if test="serial != null">
        SERIAL = #{serial,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        ACCOUNT = #{account,jdbcType=VARCHAR},
      </if>
      <if test="lloginid != null">
        LLOGINID = #{lloginid,jdbcType=VARCHAR},
      </if>
      <if test="needdynapass != null">
        NEEDDYNAPASS = #{needdynapass,jdbcType=DECIMAL},
      </if>
      <if test="dsporder != null">
        DSPORDER = #{dsporder,jdbcType=FLOAT},
      </if>
      <if test="passwordstate != null">
        PASSWORDSTATE = #{passwordstate,jdbcType=DECIMAL},
      </if>
      <if test="accounttype != null">
        ACCOUNTTYPE = #{accounttype,jdbcType=DECIMAL},
      </if>
      <if test="belongto != null">
        BELONGTO = #{belongto,jdbcType=DECIMAL},
      </if>
      <if test="dactylogram != null">
        DACTYLOGRAM = #{dactylogram,jdbcType=VARCHAR},
      </if>
      <if test="assistantdactylogram != null">
        ASSISTANTDACTYLOGRAM = #{assistantdactylogram,jdbcType=VARCHAR},
      </if>
      <if test="passwordlock != null">
        PASSWORDLOCK = #{passwordlock,jdbcType=DECIMAL},
      </if>
      <if test="sumpasswordwrong != null">
        SUMPASSWORDWRONG = #{sumpasswordwrong,jdbcType=DECIMAL},
      </if>
      <if test="oldpassword1 != null">
        OLDPASSWORD1 = #{oldpassword1,jdbcType=VARCHAR},
      </if>
      <if test="oldpassword2 != null">
        OLDPASSWORD2 = #{oldpassword2,jdbcType=VARCHAR},
      </if>
      <if test="msgstyle != null">
        MSGSTYLE = #{msgstyle,jdbcType=VARCHAR},
      </if>
      <if test="messagerurl != null">
        MESSAGERURL = #{messagerurl,jdbcType=VARCHAR},
      </if>
      <if test="pinyinlastname != null">
        PINYINLASTNAME = #{pinyinlastname,jdbcType=VARCHAR},
      </if>
      <if test="tokenkey != null">
        TOKENKEY = #{tokenkey,jdbcType=VARCHAR},
      </if>
      <if test="userusbtype != null">
        USERUSBTYPE = #{userusbtype,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        FID = #{fid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tingo.weaver.model.po.HrmResource">
    update HRMRESOURCE
    set LOGINID = #{loginid,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      LASTNAME = #{lastname,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=CHAR},
      BIRTHDAY = #{birthday,jdbcType=CHAR},
      NATIONALITY = #{nationality,jdbcType=DECIMAL},
      SYSTEMLANGUAGE = #{systemlanguage,jdbcType=DECIMAL},
      MARITALSTATUS = #{maritalstatus,jdbcType=CHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      MOBILECALL = #{mobilecall,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      LOCATIONID = #{locationid,jdbcType=DECIMAL},
      WORKROOM = #{workroom,jdbcType=VARCHAR},
      HOMEADDRESS = #{homeaddress,jdbcType=VARCHAR},
      RESOURCETYPE = #{resourcetype,jdbcType=CHAR},
      STARTDATE = #{startdate,jdbcType=CHAR},
      ENDDATE = #{enddate,jdbcType=CHAR},
      JOBTITLE = #{jobtitle,jdbcType=DECIMAL},
      JOBACTIVITYDESC = #{jobactivitydesc,jdbcType=VARCHAR},
      JOBLEVEL = #{joblevel,jdbcType=DECIMAL},
      SECLEVEL = #{seclevel,jdbcType=DECIMAL},
      DEPARTMENTID = #{departmentid,jdbcType=DECIMAL},
      SUBCOMPANYID1 = #{subcompanyid1,jdbcType=DECIMAL},
      COSTCENTERID = #{costcenterid,jdbcType=DECIMAL},
      MANAGERID = #{managerid,jdbcType=DECIMAL},
      ASSISTANTID = #{assistantid,jdbcType=DECIMAL},
      BANKID1 = #{bankid1,jdbcType=DECIMAL},
      ACCOUNTID1 = #{accountid1,jdbcType=VARCHAR},
      RESOURCEIMAGEID = #{resourceimageid,jdbcType=DECIMAL},
      CREATERID = #{createrid,jdbcType=DECIMAL},
      CREATEDATE = #{createdate,jdbcType=CHAR},
      LASTMODID = #{lastmodid,jdbcType=DECIMAL},
      LASTMODDATE = #{lastmoddate,jdbcType=CHAR},
      LASTLOGINDATE = #{lastlogindate,jdbcType=CHAR},
      DATEFIELD1 = #{datefield1,jdbcType=VARCHAR},
      DATEFIELD2 = #{datefield2,jdbcType=VARCHAR},
      DATEFIELD3 = #{datefield3,jdbcType=VARCHAR},
      DATEFIELD4 = #{datefield4,jdbcType=VARCHAR},
      DATEFIELD5 = #{datefield5,jdbcType=VARCHAR},
      NUMBERFIELD1 = #{numberfield1,jdbcType=FLOAT},
      NUMBERFIELD2 = #{numberfield2,jdbcType=FLOAT},
      NUMBERFIELD3 = #{numberfield3,jdbcType=FLOAT},
      NUMBERFIELD4 = #{numberfield4,jdbcType=FLOAT},
      NUMBERFIELD5 = #{numberfield5,jdbcType=FLOAT},
      TEXTFIELD1 = #{textfield1,jdbcType=VARCHAR},
      TEXTFIELD2 = #{textfield2,jdbcType=VARCHAR},
      TEXTFIELD3 = #{textfield3,jdbcType=VARCHAR},
      TEXTFIELD4 = #{textfield4,jdbcType=VARCHAR},
      TEXTFIELD5 = #{textfield5,jdbcType=VARCHAR},
      TINYINTFIELD1 = #{tinyintfield1,jdbcType=DECIMAL},
      TINYINTFIELD2 = #{tinyintfield2,jdbcType=DECIMAL},
      TINYINTFIELD3 = #{tinyintfield3,jdbcType=DECIMAL},
      TINYINTFIELD4 = #{tinyintfield4,jdbcType=DECIMAL},
      TINYINTFIELD5 = #{tinyintfield5,jdbcType=DECIMAL},
      CERTIFICATENUM = #{certificatenum,jdbcType=VARCHAR},
      NATIVEPLACE = #{nativeplace,jdbcType=VARCHAR},
      EDUCATIONLEVEL = #{educationlevel,jdbcType=DECIMAL},
      BEMEMBERDATE = #{bememberdate,jdbcType=CHAR},
      BEPARTYDATE = #{bepartydate,jdbcType=CHAR},
      WORKCODE = #{workcode,jdbcType=VARCHAR},
      REGRESIDENTPLACE = #{regresidentplace,jdbcType=VARCHAR},
      HEALTHINFO = #{healthinfo,jdbcType=CHAR},
      RESIDENTPLACE = #{residentplace,jdbcType=VARCHAR},
      POLICY = #{policy,jdbcType=VARCHAR},
      DEGREE = #{degree,jdbcType=VARCHAR},
      HEIGHT = #{height,jdbcType=VARCHAR},
      USEKIND = #{usekind,jdbcType=DECIMAL},
      JOBCALL = #{jobcall,jdbcType=DECIMAL},
      ACCUMFUNDACCOUNT = #{accumfundaccount,jdbcType=VARCHAR},
      BIRTHPLACE = #{birthplace,jdbcType=VARCHAR},
      FOLK = #{folk,jdbcType=VARCHAR},
      RESIDENTPHONE = #{residentphone,jdbcType=VARCHAR},
      RESIDENTPOSTCODE = #{residentpostcode,jdbcType=VARCHAR},
      EXTPHONE = #{extphone,jdbcType=VARCHAR},
      MANAGERSTR = #{managerstr,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      FAX = #{fax,jdbcType=VARCHAR},
      ISLABOUUNION = #{islabouunion,jdbcType=CHAR},
      WEIGHT = #{weight,jdbcType=DECIMAL},
      TEMPRESIDENTNUMBER = #{tempresidentnumber,jdbcType=VARCHAR},
      PROBATIONENDDATE = #{probationenddate,jdbcType=CHAR},
      COUNTRYID = #{countryid,jdbcType=DECIMAL},
      PASSWDCHGDATE = #{passwdchgdate,jdbcType=CHAR},
      NEEDUSB = #{needusb,jdbcType=DECIMAL},
      SERIAL = #{serial,jdbcType=VARCHAR},
      ACCOUNT = #{account,jdbcType=VARCHAR},
      LLOGINID = #{lloginid,jdbcType=VARCHAR},
      NEEDDYNAPASS = #{needdynapass,jdbcType=DECIMAL},
      DSPORDER = #{dsporder,jdbcType=FLOAT},
      PASSWORDSTATE = #{passwordstate,jdbcType=DECIMAL},
      ACCOUNTTYPE = #{accounttype,jdbcType=DECIMAL},
      BELONGTO = #{belongto,jdbcType=DECIMAL},
      DACTYLOGRAM = #{dactylogram,jdbcType=VARCHAR},
      ASSISTANTDACTYLOGRAM = #{assistantdactylogram,jdbcType=VARCHAR},
      PASSWORDLOCK = #{passwordlock,jdbcType=DECIMAL},
      SUMPASSWORDWRONG = #{sumpasswordwrong,jdbcType=DECIMAL},
      OLDPASSWORD1 = #{oldpassword1,jdbcType=VARCHAR},
      OLDPASSWORD2 = #{oldpassword2,jdbcType=VARCHAR},
      MSGSTYLE = #{msgstyle,jdbcType=VARCHAR},
      MESSAGERURL = #{messagerurl,jdbcType=VARCHAR},
      PINYINLASTNAME = #{pinyinlastname,jdbcType=VARCHAR},
      TOKENKEY = #{tokenkey,jdbcType=VARCHAR},
      USERUSBTYPE = #{userusbtype,jdbcType=VARCHAR},
      FID = #{fid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>