<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tingo.weaver.dao.QingdanDao" >
  <resultMap id="BaseResultMap" type="com.tingo.weaver.model.po.Qingdan" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="QINGDANMC" property="qingdanmc" jdbcType="VARCHAR" />
    <result column="QZ" property="qz" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="JD" property="jd" jdbcType="INTEGER" />
    <result column="YEAR_STR" property="yearStr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, QINGDANMC, QZ, STATUS,JD,YEAR_STR
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from QINGDAN
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertSelective" parameterType="com.tingo.weaver.model.po.Qingdan" >
    <selectKey keyProperty="id" resultType="long" order="BEFORE">
      select KP_CHECK_ITEM_ID.NEXTVAL from dual
    </selectKey>
    insert into QINGDAN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="qingdanmc != null" >
        QINGDANMC,
      </if>
      <if test="qz != null" >
        QZ,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="yearStr != null" >
        YEAR_STR,
      </if>
      <if test="jd != null" >
        jd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="qingdanmc != null" >
        #{qingdanmc,jdbcType=VARCHAR},
      </if>
      <if test="qz != null" >
        #{qz,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
      <if test="yearStr != null" >
        #{yearStr,jdbcType=VARCHAR},
      </if>
      <if test="jd != null" >
        #{jd,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tingo.weaver.model.po.Qingdan" >
    update QINGDAN
    <set >
      <if test="qingdanmc != null" >
        QINGDANMC = #{qingdanmc,jdbcType=VARCHAR},
      </if>
      <if test="qz != null" >
        QZ = #{qz,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tingo.weaver.model.po.Qingdan" >
    update QINGDAN
    set QINGDANMC = #{qingdanmc,jdbcType=VARCHAR},
      QZ = #{qz,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectAvailableList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from QINGDAN
    where status = 0
    <if test="yearStr != null" >
      and year_str = #{yearStr,jdbcType=VARCHAR}
    </if>
    <if test="jd != null and jd!=0" >
      and jd = #{jd,jdbcType=INTEGER}
    </if>
    order by id desc
  </select>

  <select id="select" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from QINGDAN
    where 1=1
    <if test="yearStr != null" >
      and year_str = #{yearStr,jdbcType=VARCHAR}
    </if>
    <if test="jd != null and jd!=0" >
      and jd = #{jd,jdbcType=INTEGER}
    </if>
    <if test="qdId != null and qdId != ''" >
      and id = #{qdId,jdbcType=BIGINT}
    </if>
    order by id desc
  </select>
</mapper>